* {
    margin: 0;
    padding: 0;

}

nav {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.navbarList li {
    list-style-type: none;
    display: inline;

}

.navbarList li a {
    margin: 3px 1rem 0 1rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;

}

.navbarList li .getNowBtn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}
main {
    background-color: lightgray;

}

#title {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 20vh 0;
}

#title h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

#title p {
    font-size: 1.5rem;
}